*{margin:0px;
padding:0px;}

body{
    background-color: #fff8e1;
    font-size: 18px;
}



section div div a{display: b lock; background-c olor:red;


    width: 5vw;  /* El ancho es el 15% del ancho de la ventana */
    height:auto;  /* La altura es el 5% de la altura de la ventana */
    

}

div.ctainicial a img{width:100%;height:100%;}



section div img {
    width: 100%;
    height: auto;
   object-fit: cover;
   border: 1px solid red;
}


h1{
    text-align: center;
    font-size: 3em;
    bor der: 1px solid green;
   
}
p{ margin:45px;
    text-align: center;
    wi dth:40%;
    f ont-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
section div:nth-child(2){
    width: 50%;
}
section div a img{
    width: 100%;
    height: 10%;
}
ol{
    text-align: center;
}
#pros{
    height: 80vh;
    display: flex;
    justify-content: center;
}

nav ul{list-style-type: none;
    text-align: center;
}
ol{
    width: 50%;
}


section.uno{
    width: 100%;
    he ight: 80vh;
    display: flex;
    ali gn-items:center;
}


.ctainicial{
    b order: 5px solid rgb(15, 45, 88);
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

#div1{
    width: 50%;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid red;
    backgrou nd-color: green ;
    height: auto;
}



nav ul li a{
    justify-content: center;
    display: flex;
}
table, th, tr, td{
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 10px;
}
table tr td img{
    height: 150px;
    width: 150px;
}
section#tabla{
    display: flex;
    justify-content: center;
}
table th{
    background-color: white;
}
